<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.ivan.recordapp</string>
	<key>CFBundleName</key>
	<string>RecordApp</string>
	<key>CFBundleDisplayName</key>
	<string>RecordApp</string>
	<key>CFBundleExecutable</key>
	<string>RecordApp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>RecordApp usa la cámara para incluirla en tus grabaciones (picture-in-picture o pantalla completa).</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>RecordApp usa el micrófono para grabar tu voz en una pista de audio separada.</string>
</dict>
</plist>
